/* klasser för accordion */

.list-accordion {
  background: $accordion-bg;

}

.list-accordian-open {
  background-color: $togglediv-bg;
  /* border: 1px solid; */
  border-radius: 0 0 1rem 1rem;
  transition: max-height 2s ease !important;
  max-height: 5000px;
  overflow: hidden;

}

.hidden {
  max-height: 0px;
  transition: max-height 0.4s ease !important;
  
}
  .hide {
    display: none;
  }
  
  .image {
    height: 100px;
    width: 100px;
    border-radius: 1rem;
  }

  .fa-trash-can {
    color: $p-black;
  }

  #listsContainer{
    max-width: 1200px;
    margin: 0 auto;
  }

  .toggleBtn {
    background-color: rgba(0,0,0,0);
    transition: all .3s ease-out;
    .fa-angle-down {
      pointer-events: none;
    }
  }

  .toggleBtnRotate {
    transform: rotate(-180deg);
    // transform: scaleY(-1)
  }