/* --------------------------- RADERA ----------------------------*/

h1, h2, h3, h4 {
  font-family: $heading-primary;
  margin: 0;
}

/* Stödhjul */

// * {
//     outline: 1px solid blue;
//     main {
//         outline: 3px solid red;

//     }
// }

/* --------------------------- RADERA: SLUT----------------------------*/

/* --------------------------- Headings ------------------------------ */

//Kommer ej på bättre namn >:-(
.subheading {
  
    font-family: $heading-secondary;
    font-size: 10px;

}


/* ---- Förslag globala komponenter som jag tror är återanvändnignsbara - eller blir det om projektet växer-------*/

.link {
  color: $link;
  &:hover {
    cursor: pointer;
  }
}

.hide {

  display: none;
  
}

.fa-brands,
.fa-solid {
  color: $p-black;
  pointer-events: none;
}

.separator {
  width: 100%;
  display: block;
  border-top: 1px solid $p-black;
}

/* Röda knapparna */
.btn {
  border-radius: 10px;
  background-color: $btn;
  padding: 10px 68px;
  color: $p-white;
}

/*  */
.input {
  border-radius: 20px;
  padding: 24px 10px;
}

/* klasser för accordion. bör ses över*/

.list-accordion {
  background: $grey-300;
}

.list-accordian-open {
  background-color: $p-white;
  /* border: 1px solid; */
}

.hidden {
  display: none;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 1rem;
}

