
h1, h2, h3, h4 {
  font-family: $heading-primary;
  margin: 0;
}

.inListHeading {
  font-size: 1.5rem;
}

/* --------------------------- Headings ------------------------------ */

//Kommer ej på bättre namn >:-(
.subheading {
    font-family: $heading-secondary;
    font-size: 10px;

}


/* ---- Förslag globala komponenter som jag tror är återanvändnignsbara - eller blir det om projektet växer-------*/

body {
  background-color: $body-bg;
}

.link {
  color: $link;
  &:hover {
    cursor: pointer;
  }
}

.hide {
  display: none;
}

.fa-brands,
.fa-solid {
  color: $p-black;
  
}

.separator {
  width: 100%;
  display: block;
  border-top: 1px solid $p-black;
}



/*  */
.input {
  border-radius: 20px;
  padding: 24px 10px;
  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $p-white inset;
    -webkit-box-shadow: 0 0 0px 1000px $p-white inset;
  }
  &:-webkit-autofill:focus, &:focus { 
    border-color: $btn;
    box-shadow: 0 0 0px 1000px hsla(195, 43%, 54%, 0.299) inset;
    -webkit-box-shadow: 0 0 0px 1000px hsla(195, 43%, 54%, 0.299) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
}

.input-design {
  border-radius: 10px;
  padding:0.2rem;
  border: 1px solid;
  background: rgba(0,0,0,0);
}

.imageContainer {
  max-height: 50vh;
}
.heroImage {
  width:100%
}

@keyframes switchClr {
  100% {
      background-color: $primary-500;
  };
};