header {
    @include flex (row, space-between, center);
    padding: 32px 16px;
    margin-bottom: 1rem;
        div.header {
            min-height: 47px;
            @include flex (row, flex-end, center);
            min-width: 20%;
                a {
                    text-decoration: none;
                    color: $p-white;
                }
                i.header {
                    margin: 4px;
                    cursor: pointer;
                }
        }

    }
    .list-page {
        background-color: $primary-500;
    }
    .account-page {
        background-color: rgba(0,0,0,0);
    }

    .logoutIconWhite{
        width: 22px;
    }