
// flexbox
@mixin flex($direction:row, $justify:flex-start, $align:flex-start, $wrap:no-wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}