/* body */
body{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}


/* styling för profilbild och centrerat innehåll */
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
   
    img {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 200px;
        width: 200px;
        object-fit: cover;
        border: 1px solid gray;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    
}
/* style loggout */
.loggOut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end; 
    // margin-right: 16px;    
    min-height: 47px;; 
} 

#userFullName {
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
  
/* footer */
footer {
    background-color: $grey-400;
    position: sticky;
    top: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
