// Fonter
$heading-primary: "Italiana", serif;
$heading-secondary: "Inria Serif", serif;
$font-paragraph: sans-serif;

// Breakpoints - Bootstrap - Kolla om det stämmer
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";

// Färger - 5 Primary
