// Fonter
$heading-primary: "Italiana", serif;
$heading-secondary: "Inria Serif", serif;


// Breakpoints - Bootstrap - mobile first
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";

//Exempel mediaQ som använder breakpoint-variabel
/* @media ($md) {
        Koden som appliceras när skärmen är 768px eller större, dumt exempel--> 
        background-color: pink;
    }
*/

// Färger
$link: #18007A;
$btn: #55a2bc;
$checkbox: #569771;
$danger-500: hsl(354, 62%, 43%);
$danger-50: hsl(355,70%,91%);


//primary
$primary-50: #EDF5F7;
$primary-100: #95C2D0;
$primary-300: #55A2BC;
$primary-500: #367185;
$primary-700: #2F5C6A;
$primary-900: #182E35;


// 50 shades of grey
$grey-50: hsl(0, 0%, 97%);
$grey-100: hsl(0, 0%, 93%);
$grey-200: hsl(0, 0%, 88%);
$grey-300: hsl(0, 0%, 80%);
$grey-400: hsl(210, 4%, 53%);
$grey-500: hsl(0, 0%, 33%);
$grey-700: hsl(0, 0%, 22%);

// Persistant
$p-black: hsl(0, 0%, 0%);
$p-white: hsl(0, 0%, 100%);



$body-bg: white;
$togglediv-bg: white;
$accordion-bg: linear-gradient(#d7d7d7, #ececec);




